html {
    margin: 0;
    padding: 0;
}

body {
    text-align:center;
    font-family: Arial, sans-serif;
    font-size:14px;
    color:#000;
    margin: 0;
    padding:0;
    background-color:rgba(240,240,240,1);
    overflow: hidden;
}

header {
    background-color:rgba(221,219,221,1);
    border-bottom: 1px solid lightgrey;
    margin: 0 0 10px 0;
    padding: 1em 7%;
    text-align:right;
}

main {
    margin: .5em auto 0;
    width: 86%;
    text-align: left;
}

fieldset {
    padding: 1em;
    border: 1px solid grey;
    text-align: left;
}

legend {
    margin-left: 1em;
    padding: 5px
}

input[type="file"]{
    font-size: 1.2em;
    width: 60%;
    margin:0 auto 1em;
    display: inline;
}

input[type="submit"] {
    font-size: 1.2em;
    display: inline;
    float: right;
}

#log_console {
    width: auto;
    height: 160px;
    display: block;
    background-color: rgba(0,0,0,.85);
    color:white;
    font-family: monospace;
    margin: 1em auto 0;
    padding: 3px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#log_console p {
    margin:0;
}

#log_console p a {
    color: yellow;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:18px;
    padding: 5px 5px 3px;
    background-color: rgba(220,220,220,1);
    color:#505050;
    text-align: left;
}







@font-face {
    font-family: photon-entypo;
    src: url(./fonts/photon-entypo.eot);
    src: url(./fonts/photon-entypo.eot?#iefix) format("eot"), url(./fonts/photon-entypo.woff) format("woff"), url(../fonts/photon-entypo.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.icon {
    font-family:photon-entypo;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #666;
}

.icon:hover {
    color: #000;
    cursor: pointer;
}

.icon:active {
    background-color: #fff;
}

.icon-help:before {
    content: '\e81c';
}

.icon-help-circled:before {
    content: '\e81d';
}

.icon-info-circled:before {
    content: '\e81f';
}

.icon:before {
    display: inline-block;
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
